# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pycache/
*.pdb
setup.py

# PyInstaller
/dist/
/build/
*.spec

# Virtual environment
venv/
env/
.venv/
.env/

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
*.log